@model ForkyMVC.Models.Restaurant.NewTableViewModel

<h2>Add New Dish</h2>

<div class="container mt-5">
    <h1>Add New Table</h1>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }

    <form asp-action="AddTable" method="post">
        <div class="form-group">
            <label asp-for="TableNumber"></label>
            <input asp-for="TableNumber" class="form-control" />
            <span asp-validation-for="TableNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AmountOfSeats"></label>
            <input asp-for="AmountOfSeats" class="form-control" />
            <span asp-validation-for="AmountOfSeats" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FK_RestaurantId"></label>
            <input asp-for="FK_RestaurantId" class="form-control" />
            <span asp-validation-for="FK_RestaurantId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Add Table</button>
    </form>
</div>

<button class="btn btn-secondary" onclick="window.history.back();">Go back</button>

