@model ForkyMVC.Models.Restaurant.Update.UpdateRestaurantViewModel

@{
    ViewBag.Title = "Update Restaurant";
}

<div class="container mt-5 admin-card">
    <h1 class="text-center">Update Restaurant</h1>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success text-center">@TempData["SuccessMessage"]</div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger text-center">@TempData["ErrorMessage"]</div>
    }

    <form asp-action="UpdateRestaurant" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="RestaurantName"></label>
            <input asp-for="RestaurantName" class="form-control" />
            <span asp-validation-for="RestaurantName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TypeOfRestaurant"></label>
            <input asp-for="TypeOfRestaurant" class="form-control" />
            <span asp-validation-for="TypeOfRestaurant" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Location"></label>
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AdditionalInformation"></label>
            <textarea asp-for="AdditionalInformation" class="form-control"></textarea>
            <span asp-validation-for="AdditionalInformation" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-warning">Update Restaurant</button>
    </form>

    <button class="btn mint-green-btn mt-3" onclick="window.history.back();">Go back</button>
</div>

