@model ForkyMVC.Models.Restaurant.Update.UpdateTableViewModel

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="edit-form-card">
                <h1>Update Table</h1>
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success text-center">@TempData["SuccessMessage"]</div>
                }
                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger text-center">@TempData["ErrorMessage"]</div>
                }

                <form asp-action="UpdateTable" method="post">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="FK_RestaurantId" />
                    <div class="form-group">
                        <label asp-for="TableNumber">Table Number</label>
                        <input asp-for="TableNumber" class="form-control" />
                        <span asp-validation-for="TableNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AmountOfSeats">Amount of Seats</label>
                        <input asp-for="AmountOfSeats" class="form-control" />
                        <span asp-validation-for="AmountOfSeats" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-warning">Update Table</button>
                </form>

                <button class="btn mint-green-btn mt-3" onclick="window.history.back();">Go back</button>
            </div>
        </div>
    </div>
</div>

