@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid bg-light d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="container text-center">
        <div class="card shadow-lg mx-auto" style="max-width: 80vw; max-height: 60vh;">
            <div class="card-body">
                <img src="~/images/forkylogga.png" alt="Forky Logo" class="img-fluid" style="width: 40vw;" />
                <p class="lead mt-4">Your one-stop solution for dining experiences!</p>
                <a asp-controller="Home" asp-action="About" class="btn btn-secondary user-btn user-btn-secondary">Learn more</a>
            </div>
        </div>
    </div>
</div>
